@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&display=swap');
html{
    overflow-x: hidden;
    scroll-behavior: smooth;    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {

    /* Cores principais */
    --cor-primaria: #0F7B6C;
    --cor-primaria-hover: #02402E;
    --cor-primaria-clara: #DDF5F1;

    /* Neutras */
    --cor-fundo: #FAFAF9;
    --cor-superficie: #FFFFFF;

    --cor-texto: #191919;
    --cor-texto-secundario: #6B7280;

    --cor-borda: #E5E7EB;

    /* Fonte */
    --fonte: "Space Grotesk", sans-serif;
    --fonte-secundaria: "Inter", sans-serif;

    /* Fontes */
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-md: 1.125rem;
    --fs-lg: 1.375rem;
    --fs-xl: 1.75rem;
    --fs-2xl: 2.25rem;

    /* Espaçamentos */
    --sp-1: 0.25rem;
    --sp-2: 0.5rem;
    --sp-3: 0.75rem;
    --sp-4: 1rem;
    --sp-5: 1.25rem;
    --sp-6: 1.5rem;
    --sp-8: 2rem;
    --sp-10: 2.5rem;
    --sp-12: 3rem;

    /* Bordas */
    --raio-sm: 4px;
    --raio-md: 8px;
    --raio-lg: 12px;
    --raio-pill: 999px;

    /* Efeito */
    --trasicao: .4s ease;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    position: relative;
}

/* Container para padronizar as margens de todo o site e o espaçamento entre cada bloco/seção */
.container{
    max-width: 1440px;
    padding: 40px 0;
    width: 91%;
    margin: 0 auto;
}

/* Padrão de scrollbar */
.scrollbar{
    overflow-x: auto;
}
.scrollbar::-webkit-scrollbar {
    height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--cor-borda);
    border-radius: 999px;
}

/* scrollbar do navegador */

::-webkit-scrollbar-thumb {
    background: var(--cor-primaria);
    border-radius: 999px;
}

::-webkit-scrollbar {
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--cor-borda);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb {
    background: var(--cor-primaria);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--cor-primaria-hover);
}

/* Botões */

.botao-conheca {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
    background: var(--cor-primaria-hover);
    color: var(--cor-primaria-clara);
    padding: var(--sp-4) var(--sp-8);
    border-radius: var(--raio-pill);
    font-weight: 700;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .2);
    transition: var(--trasicao);
}

.botao-conheca:hover {
    transform: translateY(-3px);
    box-shadow: 0 .8rem 2rem rgba(0, 0, 0, .25);
    background-color: var(--cor-primaria);
}

.link-inscreva {
    color: var(--cor-superficie);
    text-decoration: none;
    font-weight: 600;
    padding: var(--sp-3) var(--sp-4);
    transition: var(--trasicao);
}

.link-inscreva::after {
    font-family: "Material Symbols Outlined";
    content: "arrow_forward";
    margin-left: .4rem;
    transition: var(--trasicao);
    font-size: 1.2em;
    vertical-align: middle;
    /*alinha o icon*/
}

.link-inscreva:hover::after {
    margin-left: .8rem;
}


@media screen and (max-width: 768px) {
    .botao-conheca {
        padding: var(--sp-3) var(--sp-4);
    }
}

@media screen and (max-width: 600px) {
    .botao-conheca, .link-inscreva {
        padding: var(--sp-3) var(--sp-2);
    }
}